  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button href="inicio-p">
          <ion-icon color="dark" name="caret-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title><h1>Lector QR</h1></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
  <div class="container">
    <ion-card>
      <h1>Estamos Trabajando para seguir mejorando esta APP</h1>
      <h4>Esperamos seguir contando con tu apoyo!</h4>
      <img src="https://cdn-icons-png.flaticon.com/512/5229/5229377.png">
      <h4 style="color:red">Se nos acabó la plata.</h4>
    </ion-card>
  </div>
</ion-content>


