h1{
    text-align: center;
    font-family: montserrat;
}

h4{
    text-align: center;
    font-family: montserrat;
    color: gray;
}

.container{
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img{
    position: relative;
    right: -35%;
    border-radius: 10%;
    width: 30%;
    padding: 5%;
  }