<ion-toolbar class="tolba" mode="ios">
  <ion-buttons slot="start">
    <ion-button [routerLink]="['/home']">
      <ion-icon color="dark" name="caret-back-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title><h1>Login</h1></ion-title>
</ion-toolbar>

<ion-content>
<div class="container">
  <ion-card mode="ios">
    <h1>Iniciar Sesión</h1>
      <form [formGroup]="formularioLogin" (ngSubmit)="submit()" (keypress.enter)="submit()">
  <div class="TextL">
    <ion-input label="Correo Electronico"
               autocomplete="email" 
               label-placement="floating" 
               fill="outline"
               formControlName="correo" 
               type="text" 
               placeholder="Ingrese su Correo Electronico"
               mode="md">
    </ion-input>
  </div>
  <div class="TextL">
    <ion-input label="Contraseña" 
               label-placement="floating" 
               fill="outline" 
               formControlName="password" 
               type="password" 
               placeholder="Ingrese su Contraseña"
               mode="md">
    </ion-input>
  </div>
</form>

<div class="btons">
  <ion-button  mode="ios" size="default" [disabled]="formularioLogin.invalid" (click)="submit()" color="dark">Ingresar</ion-button>
  <ion-button  mode="ios" size="default" [routerLink]="['/registro']" color="dark">Registrarse</ion-button>
</div>
<div class="btons">
  <a [routerLink]="['/recup-contra']">¿No recuerdas tu contraseña?</a>
</div>
</ion-card>
</div>
</ion-content>

<footer>
  <div>
    <P>RegistrAPP by DuocUC
  </div>
</footer>
