

h1{
    text-align: center;
    font-family: montserrat;
}

h4{
    text-align: center;
    font-family: montserrat;
}

h5{
    text-align: left;
    font-family: montserrat;
}


ion-item {
    --padding-start: 0;
  }

.container{
    justify-content: center;
}

p{
    font-family: montserrat;
    font-size: 16px;
}

li{
    font-family: montserrat;
    font-size: 11px;
}

ion-card-subtitle{
    text-align: center;
    font-family: montserrat;
    font-size: 14px;
    color: gray;
}

ion-label{
    font-family: montserrat;
    font-size: 20px;
}