<ion-toolbar class="tolba" mode="ios">
  <ion-buttons   slot="start">
    <ion-button [routerLink]="['/login']">
      <ion-icon color="dark" name="caret-back-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title><h1>Registro</h1></ion-title>
</ion-toolbar>

<ion-content>
<div class="container">
  <ion-card mode="ios">
    <h1>Registrarse</h1>
    <form [formGroup]="formularioRegistro" (keyup.enter)="guardar()">
      <div class="TextL">
        <ion-input label="Nombre Usuario" 
        label-placement="floating" 
        fill="outline"
        formControlName="nombre" 
        type="text" 
        placeholder="Ingresa tu nuevo Nombre de Usuario"
        mode="md">
        </ion-input>
    </div>
    <div class="TextL">
      <ion-input label="Correo Electronico" 
      label-placement="floating" 
      fill="outline"
      line="none"
      formControlName="correo" 
      type="text" 
      placeholder="Ingresa tu Correo Electronico"
      mode="md">
      </ion-input>
  </div>
      <div class="TextL">  
        <ion-input label="Contraseña" 
        label-placement="floating" 
        fill="outline" 
        formControlName="password" 
        type="password" 
        placeholder="Ingresa tu contraseña nueva"
        mode="md">
        </ion-input>
      </div>
    <div class="btons">
      <ion-button mode="ios" size="default" color="dark" (click)="submit()">Registrarse</ion-button>
    </div>
  </form>
  </ion-card>
</div>
</ion-content>

<footer>
<div>
  <P>RegistrAPP by DuocUC
</div>
</footer>